logic app/email-logic.logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_email_details": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/@{encodeURIComponent(triggerBody()?['Id'])}",
                    "queries": {
                        "includeAttachments": true
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "If_not_from_system_": {
                "actions": {
                    "has_attachments": {
                        "actions": {
                            "For_each": {
                                "actions": {
                                    "Append_to_string_variable_2": {
                                        "inputs": {
                                            "name": "files",
                                            "value": "@outputs('Compose')"
                                        },
                                        "runAfter": {
                                            "Compose": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "AppendToStringVariable"
                                    },
                                    "Compose": {
                                        "inputs": "------WebKitFormBoundary7MA4YWxkTrZu0gW\r\nContent-Disposition: form-data; name=\"Attachments\"; filename=\"@{items('For_each')?['Name']}\"\r\nContent-Type: @{items('For_each')?['ContentType']}\r\n\r\n@{base64ToString(items('For_each')?['ContentBytes'])}\r\n",
                                        "runAfter": {},
                                        "type": "Compose"
                                    }
                                },
                                "foreach": "@triggerBody()?['Attachments']",
                                "runAfter": {},
                                "type": "Foreach"
                            },
                            "HTTP_2": {
                                "inputs": {
                                    "body": "------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"FromEmail\"\nContent-Type: text/plain\n\n@{body('Get_email_details')?['From']}\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"Subject\"\nContent-Type: text/plain\n\n@{body('Get_email_details')?['Subject']}\n@{parameters('files')}\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"Body\"\nContent-Type: text/plain\n\n@{triggerBody()?['Body']}\n------WebKitFormBoundary7MA4YWxkTrZu0gW--",
                                    "headers": {
                                        "Content-Type": "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW"
                                    },
                                    "method": "POST",
                                    "uri": "https://supportsystemapi.azurewebsites.net/api/mail/res"
                                },
                                "runAfter": {
                                    "For_each": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            }
                        },
                        "else": {
                            "actions": {
                                "HTTP_3": {
                                    "inputs": {
                                        "body": "------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"FromEmail\"\nContent-Type: text/plain\n\n@{body('Get_email_details')?['From']}\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"Subject\"\nContent-Type: text/plain\n\n@{body('Get_email_details')?['Subject']}\n------WebKitFormBoundary7MA4YWxkTrZu0gW\nContent-Disposition: form-data; name=\"Body\"\nContent-Type: text/plain\n\n@{triggerBody()?['Body']}\n------WebKitFormBoundary7MA4YWxkTrZu0gW--",
                                        "headers": {
                                            "Content-Type": "multipart/form-data; boundary=----WebKitFormBoundary7MA4YWxkTrZu0gW"
                                        },
                                        "method": "POST",
                                        "uri": "https://supportsystemapi.azurewebsites.net/api/mail/res"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Get_email_details')?['HasAttachments']",
                                        true
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    },
                    "ifSuccessful_": {
                        "actions": {
                            "Send_email_(V2)": {
                                "inputs": {
                                    "body": {
                                        "Body": "<p>Automate Responce</p>",
                                        "To": "@body('Get_email_details')?['From']"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/Mail"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Get_email_details')?['ThreadId']",
                                        "@body('Get_email_details')?['Id']"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "has_attachments": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@body('Get_email_details')?['From']",
                                    "@parameters('tester')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_variable": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "files",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Get_email_details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "files": {
                "defaultValue": " ",
                "type": "String"
            },
            "tester": {
                "defaultValue": "ticketsendertester@gmail.com",
                "type": "String"
            }
        },
        "triggers": {
            "When_a_new_email_arrives": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/OnNewEmail",
                    "queries": {
                        "fetchOnlyWithAttachments": false,
                        "importance": "All",
                        "includeAttachments": true,
                        "label": "INBOX",
                        "starred": "All"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "gmail_2": {
                    "connectionId": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/resourceGroups/WIl-Project/providers/Microsoft.Web/connections/gmail",
                    "connectionName": "gmail",
                    "id": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/providers/Microsoft.Web/locations/southafricanorth/managedApis/gmail"
                }
            }
        }
    }
}