logic app/email-logic.logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_email_details": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/@{encodeURIComponent(triggerBody()?['Id'])}",
                    "queries": {
                        "includeAttachments": true
                    }
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "If_not_from_system_": {
                "actions": {
                    "has_attachments": {
                        "actions": {
                            "Attachments_request": {
                                "inputs": {
                                    "body": {
                                        "$content-type": "multipart/form-data",
                                        "$multipart": [
                                            {
                                                "body": "@{body('Get_email_details')?['From']}",
                                                "headers": {
                                                    "Content-Disposition": "form-data; name=FromEmail;",
                                                    "Content-Type": "text/plain"
                                                }
                                            },
                                            {
                                                "body": "@{body('Get_email_details')?['Subject']}",
                                                "headers": {
                                                    "Content-Disposition": "form-data; name=Subject;",
                                                    "Content-Type": "text/plain"
                                                }
                                            },
                                            {
                                                "body": "@{body('Get_email_details')?['Body']}",
                                                "headers": {
                                                    "Content-Disposition": "form-data; name=Body;",
                                                    "Content-Type": "text/plain"
                                                }
                                            },
                                            {
                                                "body": "@{outputs('remove_last_letter')}",
                                                "headers": {
                                                    "Content-Disposition": "form-data; name=links;",
                                                    "Content-Type": "text/plain"
                                                }
                                            }
                                        ]
                                    },
                                    "method": "POST",
                                    "uri": "https://supportsystemapi.azurewebsites.net/api/mail/resAT"
                                },
                                "runAfter": {
                                    "remove_last_letter": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Http"
                            },
                            "for_each_attachment": {
                                "actions": {
                                    "Create_SAS_URI_by_path_(V2)": {
                                        "inputs": {
                                            "body": {
                                                "AccessProtocol": "HttpsOnly",
                                                "Permissions": "Read"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/datasets/@{encodeURIComponent('AccountNameFromSettings')}/CreateSharedLinkByPath",
                                            "queries": {
                                                "path": "@body('Create_blob_(V2)')?['Path']"
                                            }
                                        },
                                        "runAfter": {
                                            "Create_blob_(V2)": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "Create_blob_(V2)": {
                                        "inputs": {
                                            "body": "@items('for_each_attachment')",
                                            "headers": {
                                                "ReadFileMetadataFromServer": true
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azureblob']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
                                            "queries": {
                                                "folderPath": "/attachments",
                                                "name": "@items('for_each_attachment')?['Name']",
                                                "queryParametersSingleEncoded": true
                                            }
                                        },
                                        "runAfter": {},
                                        "runtimeConfiguration": {
                                            "contentTransfer": {
                                                "transferMode": "Chunked"
                                            }
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "append_to_files": {
                                        "inputs": {
                                            "name": "files",
                                            "value": "@{body('Create_SAS_URI_by_path_(V2)')?['WebUrl']};"
                                        },
                                        "runAfter": {
                                            "Create_SAS_URI_by_path_(V2)": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "AppendToStringVariable"
                                    }
                                },
                                "foreach": "@triggerBody()?['Attachments']",
                                "runAfter": {},
                                "type": "Foreach"
                            },
                            "remove_last_letter": {
                                "inputs": "@substring(variables('files'), 0, sub(length(variables('files')), 1))\r\n",
                                "runAfter": {
                                    "for_each_attachment": [
                                        "Succeeded"
                                    ]
                                },
                                "type": "Compose"
                            }
                        },
                        "else": {
                            "actions": {
                                "Noo_attachment_request": {
                                    "inputs": {
                                        "body": {
                                            "$content-type": "multipart/form-data",
                                            "$multipart": [
                                                {
                                                    "body": "@{body('Get_email_details')?['From']}",
                                                    "headers": {
                                                        "Content-Disposition": "form-data; name=FromEmail;",
                                                        "Content-Type": "text/plain"
                                                    }
                                                },
                                                {
                                                    "body": "@{body('Get_email_details')?['Subject']}",
                                                    "headers": {
                                                        "Content-Disposition": "form-data; name=Subject;",
                                                        "Content-Type": "text/plain"
                                                    }
                                                },
                                                {
                                                    "body": "@{body('Get_email_details')?['Body']}",
                                                    "headers": {
                                                        "Content-Disposition": "form-data; name=Body;",
                                                        "Content-Type": "text/plain"
                                                    }
                                                }
                                            ]
                                        },
                                        "method": "POST",
                                        "uri": "https://supportsystemapi.azurewebsites.net/api/mail/res"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Get_email_details')?['HasAttachments']",
                                        true
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    },
                    "ifSuccessful_": {
                        "actions": {
                            "Send_email_(V2)": {
                                "inputs": {
                                    "body": {
                                        "Body": "<p>Automate Responce:&nbsp;message here</p>",
                                        "To": "@body('Get_email_details')?['From']"
                                    },
                                    "host": {
                                        "connection": {
                                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                                        }
                                    },
                                    "method": "post",
                                    "path": "/v2/Mail"
                                },
                                "runAfter": {},
                                "type": "ApiConnection"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@body('Get_email_details')?['ThreadId']",
                                        "@body('Get_email_details')?['Id']"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {
                            "has_attachments": [
                                "Succeeded"
                            ]
                        },
                        "type": "If"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@body('Get_email_details')?['From']",
                                    "@parameters('tester')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_files": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Initialize_files": {
                "inputs": {
                    "variables": [
                        {
                            "name": "files",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Get_email_details": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "base url": {
                "defaultValue": "https://supportsystemapi.azurewebsites.net/api/mail",
                "type": "String"
            },
            "files": {
                "defaultValue": " ",
                "type": "String"
            },
            "tester": {
                "defaultValue": "ticketsendertester@gmail.com",
                "type": "String"
            }
        },
        "triggers": {
            "When_a_new_email_arrives": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail_2']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/OnNewEmail",
                    "queries": {
                        "importance": "All",
                        "includeAttachments": true,
                        "label": "INBOX",
                        "starred": "All"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/resourceGroups/WIl-Project/providers/Microsoft.Web/connections/azureblob-1",
                    "connectionName": "azureblob-1",
                    "id": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/providers/Microsoft.Web/locations/southafricanorth/managedApis/azureblob"
                },
                "gmail_2": {
                    "connectionId": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/resourceGroups/WIl-Project/providers/Microsoft.Web/connections/gmail",
                    "connectionName": "gmail",
                    "id": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/providers/Microsoft.Web/locations/southafricanorth/managedApis/gmail"
                }
            }
        }
    }
}