function/email-logic.logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Condition": {
                "actions": {
                    "Compose": {
                        "inputs": "    \"FromEmail\": \"@{triggerOutputs()?['body/from/emailAddress/address']}\",\n    \"Subject\": \"@{triggerOutputs()?['body/subject']}\",\n    \"Body\": \"@{triggerOutputs()?['body/body/content']}\",\n    \"ReceivedDate\": \"@{triggerOutputs()?['body/receivedDateTime']}\",\n    \"Attachments\": [@{triggerBody()?['Attachments']}]",
                        "runAfter": {},
                        "type": "Compose"
                    },
                    "HTTP": {
                        "inputs": {
                            "body": "@outputs('Compose')",
                            "method": "POST",
                            "uri": "http://supportsystemapi.azurewebsites.net/mail"
                        },
                        "runAfter": {
                            "Compose": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@triggerBody()?['From']",
                                    "@parameters('tester')"
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {},
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            },
            "tester": {
                "defaultValue": "ticketsendertester@gmail.com",
                "type": "String"
            }
        },
        "triggers": {
            "When_a_new_email_arrives": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['gmail']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Mail/OnNewEmail",
                    "queries": {
                        "fetchOnlyWithAttachments": false,
                        "importance": "All",
                        "includeAttachments": true,
                        "label": "INBOX",
                        "starred": "All"
                    }
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 3
                },
                "type": "ApiConnection"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "gmail": {
                    "connectionId": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/resourceGroups/WIl-Project/providers/Microsoft.Web/connections/gmail-19",
                    "connectionName": "gmail-19",
                    "id": "/subscriptions/8e645fa0-124f-421c-9941-638fd6900baf/providers/Microsoft.Web/locations/southafricanorth/managedApis/gmail"
                }
            }
        }
    }
}